*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    font-size: large;
    background-color:  rgb(238, 238, 241);
    
}
.header1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
}
a{
    color: black;
}
.maintopic{
    background-color:  rgb(238, 238, 241);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    font-size: 30px;
    padding-left: 1rem;
}
#mainpara{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 15px;
    
}
.header1{
    display: none;
}
.mainimage{
   
   display: block;
  margin-left: auto;
  margin-right: auto;
 
  width: 22%;
}
 #second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
 } 
.subpara{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
    background-color: rgb(238, 238, 241);
    padding-bottom: 3rem;
    font-size: 19px;
    
}
#language{
    color: blue;
}
#symbol{
    width: 10%;
    
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 40px;
    
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #0b5d9b;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: rgb(248, 247, 247);
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium screens go here */
    #main{
        font-size: 35px;
    }
    #mainpara{
        font-size: 20px;
    }
    .header1{
        display: flex;
    }
    #menu{
        display: none;
    }
    .mainimage{
       margin-left: 40rem;
       padding-top: 4rem;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large screens go here */
    .mainimage{
       margin-left: 50rem;
       padding-top: 4rem;
    }
    #main{
        font-size: 40px;
    }
    #mainpara{
        font-size: 25px;
    }
    #menu{
        display: none;
    }
    .header1{
        display: flex;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .mainimage{
        margin-left: 40rem;
        padding-top: 4rem;
     }
     #main{
        font-size: 40px;
    }
    #mainpara{
        font-size: 30px;
    }
     #menu{
        display: none;
    }
     .header1{
        display: flex;
    }
}